<form class="example-form" (submit)="onSubmit()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" [formControl]="nameFormControl" class="form-control w-100" id="name" placeholder="John Doe">
        <span *ngIf="nameFormControl.hasError('required') && (nameFormControl.dirty || nameFormControl.touched)">
    Name is <strong>required</strong>
</span>
    </div>
    <div class="mt-3">
        <button class="btn btn-success btn-md d-flex align-center gap-2">
        Save
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>
</form>