<h1 mat-dialog-title>New Todo</h1>
<div mat-dialog-content>
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" [formControl]="titleFormControl" class="form-control w-100" id="title" placeholder="This is todo title">
            <span *ngIf="titleFormControl.hasError('required') && (titleFormControl.dirty || titleFormControl.touched)">
            Title is <strong>required</strong>
        </span>
        </div>
        <div class="mb-3">
            <label for="due_date" class="form-label">Due Date</label>
            <input type="text" [formControl]="dueDateTextFormControl" class="form-control w-100" id="due_date" placeholder="21 Oktober 2021 08:31PM" (click)="picker.open()" [readonly]="true">
            <span *ngIf="dueDateTextFormControl.hasError('required') && (dueDateTextFormControl.dirty || dueDateTextFormControl.touched)">
            Due Date is <strong>required</strong>
        </span>
            <mat-form-field>
                <input (dateChange)="onDateChange()" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dueDateFormControl" [min]="minDate" [disabled]="false">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="true" [color]="'primary'" [enableMeridian]="false">
                </ngx-mat-datetime-picker>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-evenly center">
    <button class="mb-3 w-50" mat-raised-button color="primary" (click)="onSaveTodo()">Save</button>
    <button class="mb-3 w-50" mat-button (click)="onNoClick()">Cancel</button>
</div>