<div *ngIf="!isLogin" class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="mb-3 col-12">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>

<div class="min-vh-100" *ngIf="isLogin">
    <app-todo-list></app-todo-list>
</div>