<div class="container pt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bolder">Hi, {{name}}</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div *ngFor="let td of todo" class="col-12 my-2">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">{{td.task}}</div>
                <div class="card-body">
                    <h5 class="card-title">Due Date: {{td.dueDate}}</h5>
                    <p class="card-text">{{td.isDone ? 'Done' : 'Not Done'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-bottom-button">
    <button class="ml-auto" mat-fab color="accent" aria-label="Add Todo Button" (click)="openCreateTodoDialog()">
      <mat-icon>add</mat-icon>
    </button>
</div>