@use '@angular/material' as mat;
@include mat.core();
$oqp-program-primary: mat.define-palette(mat.$purple-palette, A700);
$oqp-program-accent: mat.define-palette(mat.$green-palette, A700);
$oqp-program-warn: mat.define-palette(mat.$deep-orange-palette, A700);
$oqp-program-theme: mat.define-light-theme(( color: ( primary: $oqp-program-primary, accent: $oqp-program-accent, warn: $oqp-program-warn, )));
@include mat.all-component-themes($oqp-program-theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #282828;
    color: whitesmoke;
    height: 100vh;
}

.cdk-overlay-container {
    z-index: 1040 !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.6) !important;
}

mat-dialog-container {
    background-color: #282828 !important;
    color: whitesmoke !important;
}